.App-content {
  font-size: calc(10px + 1vmin);
  background-color: #282c34;
  color: #ecf0f8;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: max-content;
}

.art-phonebook {
  grid-column: 1;
  background-color: #ecf0f8;
  grid-row: 1;
}

.art-numbers {
  grid-column: 1;
  grid-row: 1;
}

.art-form {
  grid-column: 1;
  grid-row: 2;
}